<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fastapi-short-story</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>
<body>
    <h1>Short Story API👾</h1>
    <p>This is an api for generating short stories about characters that you create</p>

    <div>
        <h3>API</h3>
        <div>
            <h4><a href="https://fastapi-shortstory.onrender.com/docs">Create Character</a></h4>
        </div>
        <div>
            <h4><a href="https://fastapi-shortstory.onrender.com/docs">Generate Story</a></h4>
        </div>
        <div>
            <h4><a href="https://fastapi-shortstory.onrender.com/api/characters">All Characters</a></h4>
        </div>
        <div>
            <h3>Get Started</h3>
            <p>✅Create a characters by name and details</p>
            <p>✅Give a character name for generating Story</p>
            <p>✅Api will fetch data about the character and its details</p>
            <p>✅If the character exists in DB, it will fetch the details of the character and generates a Story</p>
        </div>
    </div>

</body>
</html>